@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>destinations</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                $('.destination').submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("CreateDestination")',
                        type: 'POST',
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: function (result) {
                            var resultMessage = 'Your destination is created';
                            $(".inputs").val("");
                            $('#result').html(resultMessage);
                        }
                    });
                });
            });
    </script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <form action="CreateDestination" class="destination">
            <h2>Create a Destination</h2>
            <label for="city">City: </label>
            <input type="text" name="city" class="inputs" />
            <label for="country">Country: </label>
            <input type="text" name="country" class="inputs" />
            <button type="submit">Submit</button>
        </form>

        <div id="result"></div>

        @Html.ActionLink("Back Home", "Index", "Home")
    }
    else
    {
        <p>Go back & Log in</p>
    }
</body>
</html>