@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Epicodus Travel Blog!</h1>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @User.Identity.Name!</h2>

    @using (Html.BeginForm("LogOut", "Home"))
    {
        <input type="submit" value="Log Out" />
    }
}
else
{
    <h2>@Html.ActionLink("Log In", "Login")</h2>
    <h2>@Html.ActionLink("Register New Account", "Register")</h2>
}

