@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Epicodus Travel Blog!</h1>
<hr />


<h2>Log in</h2>
<form action="LogIn" class="log-in">
    <label for="username">Username: </label>
    <input type="text" name="username" />
    <label for="password">Password: </label>
    <input type="text" name="password" />
    <button type="submit">Submit</button>
</form>
<div id="login"></div>

<h2>@Html.ActionLink("Register New Account", "Register")</h2>

<script>
    $(function () {
        $('.log-in').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("LogIn")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    var resultMessage = 'your username is: ' + result.userName + '<br>your password is: ' + result.password;
                    $('#login').html(resultMessage);
                }
            });
        });
    });

</script>

